services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: tpnosql
      POSTGRES_PASSWORD: tpnosql
      POSTGRES_DB: tpnosql
    volumes:
      - pgdata:/var/lib/postgresql/data

  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/tpnosql123
      NEO4J_PLUGINS: '["apoc"]'
    volumes:
      - neo4jdata:/data

volumes:
  pgdata:
  neo4jdata:
